In [54]:
import pandas as pd
df=pd.read_csv("/Users/inamkhan/Desktop/MAIN/Machine Learning/Exam ml/student1.csv")
df.head()

,Student_ID,Gender,Age,Department,Attendance_%,Study_Hours_per_Week,Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Grade,Backlogs,Internship,Scholarship,Sports_Activity,Extra_Curricular,Placement_Status
0,1,Male,20,CS,59.91,30,80.01,50.94,91.05,90.12,53.15,71.24,49.68,C,0,Yes,No,No,No,Placed
1,2,Female,24,Mathematics,50.46,31,80.22,75.83,69.48,74.07,91.63,92.86,57.73,F,1,No,Yes,Yes,Yes,Not Placed
2,3,Male,24,Business,81.36,44,94.07,81.59,59.90,91.05,90.86,78.17,53.01,A,3,Yes,Yes,Yes,No,Not Placed
3,4,Male,24,Mathematics,65.82,28,40.96,68.11,79.38,91.23,24.97,52.26,98.52,D,0,Yes,Yes,No,Yes,Not Placed
4,5,Male,21,Engineering,98.66,12,91.18,45.86,91.32,65.86,71.97,90.09,61.78,D,3,Yes,Yes,No,No,Not Placed

In [55]:
a=df[df["Age"]>3]
print(a.head())

   Student_ID  Gender  Age   Department  Attendance_%  Study_Hours_per_Week  \
0           1    Male   20           CS         59.91                    30
1           2  Female   24  Mathematics         50.46                    31
2           3    Male   24     Business         81.36                    44
3           4    Male   24  Mathematics         65.82                    28
4           5    Male   21  Engineering         98.66                    12

   Midterm_Score  Final_Score  Assignments_Avg  Quizzes_Avg  \
0          80.01        50.94            91.05        90.12
1          80.22        75.83            69.48        74.07
2          94.07        81.59            59.90        91.05
3          40.96        68.11            79.38        91.23
4          91.18        45.86            91.32        65.86

   Participation_Score  Projects_Score  Total_Score Grade  Backlogs  \
0                53.15           71.24        49.68     C         0
1                91.63           92.86        57.73     F         1
2                90.86           78.17        53.01     A         3
3                24.97           52.26        98.52     D         0
4                71.97           90.09        61.78     D         3

  Internship Scholarship Sports_Activity Extra_Curricular Placement_Status
0        Yes          No              No               No           Placed
1         No         Yes             Yes              Yes       Not Placed
2        Yes         Yes             Yes               No       Not Placed
3        Yes         Yes              No              Yes       Not Placed
4        Yes         Yes              No               No       Not Placed

In [56]:
df.insert(0,"Inam",df["Total_Score"]*0.3)
df.head()

,Inam,Student_ID,Gender,Age,Department,Attendance_%,Study_Hours_per_Week,Midterm_Score,Final_Score,Assignments_Avg,...,Participation_Score,Projects_Score,Total_Score,Grade,Backlogs,Internship,Scholarship,Sports_Activity,Extra_Curricular,Placement_Status
0,14.904,1,Male,20,CS,59.91,30,80.01,50.94,91.05,...,53.15,71.24,49.68,C,0,Yes,No,No,No,Placed
1,17.319,2,Female,24,Mathematics,50.46,31,80.22,75.83,69.48,...,91.63,92.86,57.73,F,1,No,Yes,Yes,Yes,Not Placed
2,15.903,3,Male,24,Business,81.36,44,94.07,81.59,59.90,...,90.86,78.17,53.01,A,3,Yes,Yes,Yes,No,Not Placed
3,29.556,4,Male,24,Mathematics,65.82,28,40.96,68.11,79.38,...,24.97,52.26,98.52,D,0,Yes,Yes,No,Yes,Not Placed
4,18.534,5,Male,21,Engineering,98.66,12,91.18,45.86,91.32,...,71.97,90.09,61.78,D,3,Yes,Yes,No,No,Not Placed

In [57]:
df["Main"]=df["Attendance_%"]*0.4
df.head()

,Inam,Student_ID,Gender,Age,Department,Attendance_%,Study_Hours_per_Week,Midterm_Score,Final_Score,Assignments_Avg,...,Projects_Score,Total_Score,Grade,Backlogs,Internship,Scholarship,Sports_Activity,Extra_Curricular,Placement_Status,Main
0,14.904,1,Male,20,CS,59.91,30,80.01,50.94,91.05,...,71.24,49.68,C,0,Yes,No,No,No,Placed,23.964
1,17.319,2,Female,24,Mathematics,50.46,31,80.22,75.83,69.48,...,92.86,57.73,F,1,No,Yes,Yes,Yes,Not Placed,20.184
2,15.903,3,Male,24,Business,81.36,44,94.07,81.59,59.90,...,78.17,53.01,A,3,Yes,Yes,Yes,No,Not Placed,32.544
3,29.556,4,Male,24,Mathematics,65.82,28,40.96,68.11,79.38,...,52.26,98.52,D,0,Yes,Yes,No,Yes,Not Placed,26.328
4,18.534,5,Male,21,Engineering,98.66,12,91.18,45.86,91.32,...,90.09,61.78,D,3,Yes,Yes,No,No,Not Placed,39.464

In [58]:
df.loc[1,"Inam"]=10000
df.head()

,Inam,Student_ID,Gender,Age,Department,Attendance_%,Study_Hours_per_Week,Midterm_Score,Final_Score,Assignments_Avg,...,Projects_Score,Total_Score,Grade,Backlogs,Internship,Scholarship,Sports_Activity,Extra_Curricular,Placement_Status,Main
0,14.904,1,Male,20,CS,59.91,30,80.01,50.94,91.05,...,71.24,49.68,C,0,Yes,No,No,No,Placed,23.964
1,10000.000,2,Female,24,Mathematics,50.46,31,80.22,75.83,69.48,...,92.86,57.73,F,1,No,Yes,Yes,Yes,Not Placed,20.184
2,15.903,3,Male,24,Business,81.36,44,94.07,81.59,59.90,...,78.17,53.01,A,3,Yes,Yes,Yes,No,Not Placed,32.544
3,29.556,4,Male,24,Mathematics,65.82,28,40.96,68.11,79.38,...,52.26,98.52,D,0,Yes,Yes,No,Yes,Not Placed,26.328
4,18.534,5,Male,21,Engineering,98.66,12,91.18,45.86,91.32,...,90.09,61.78,D,3,Yes,Yes,No,No,Not Placed,39.464

In [59]:
df.loc[(df["Age"] > 30) & (df["Final_Score"] < 30), "Final_Score"] *= 2

In [60]:
df.loc[(df["Attendance_%"]>80) & (df["Study_Hours_per_Week"]>40),"Final_Score"]+=10
df["Final_Score"].head()

0    50.94
1    75.83
2    91.59
3    68.11
4    45.86
Name: Final_Score, dtype: float64